# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/
/.turbo/
/dist

# production
/build

# cache
.swc/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
*.log

# env files (can opt-in for committing if needed)
.env*


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
docs-local.md

# prisma
/src/generated/prisma
/prisma/*.db
/prisma/*.db-journal
